.dropdown {
    font-size: .18rem;

    &-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 10rem;

        padding: .2rem 1rem;

        border: none;
        background-color: white;

        border-radius: 3rem;

        color: $primary_black;
        font-size: 1.4rem;
    }

    &-menu {
        right: 0!important;
        left: auto!important;

        margin-top: 1rem;
        border: none;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 70%;
            border: .5rem solid transparent;
            border-bottom-color: white;
        }
    }
    &-item {
        margin: 1rem 0;
        font-size: 1.8rem;

        &:hover {
            color: $primary_blue;

            border-left: .3rem solid $primary_blue;
        }
    }

    &.gray {
        .dropdown-toggle {
            background-color: #E9E9E9;
        }
    }
}
