//==============================================================================================
// FONTS
//----------------------------------------------------------------------------------------------
// Imports web fonts, such as EOT, WOFF, OTF, etc.
//----------------------------------------------------------------------------------------------
// NOTE: Font styles should be defined in _typography.scss.
//==============================================================================================


//Brandon --------------------------------------------------------------------------------------------------------

@font-face {
    font-family: 'Brandon-Bold-Italic';
    src: url('../assets/fonts/Brandon/Brandon_bld_it.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Bold';
    src: url('../assets/fonts/Brandon/Brandon_bld.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Black';
    src: url('../assets/fonts/Brandon/Brandon_blk.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Black-Italic';
    src: url('../assets/fonts/Brandon/Brandon_blk_it.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Light-Italic';
    src: url('../assets/fonts/Brandon/Brandon_light_it.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Light';
    src: url('../assets/fonts/Brandon/Brandon_light.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Medium-Italic';
    src: url('../assets/fonts/Brandon/Brandon_med_it.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Medium';
    src: url('../assets/fonts/Brandon/Brandon_med.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Regular-Italic';
    src: url('../assets/fonts/Brandon/Brandon_reg_it.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Regular';
    src: url('../assets/fonts/Brandon/Brandon_reg.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Thin-Italic';
    src: url('../assets/fonts/Brandon/Brandon_thin_it.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Thin';
    src: url('../assets/fonts/Brandon/Brandon_thin.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
